*
!config.yaml
!conf
!conf/cluster
!conf/cluster/*
!docs
!docs/Makefile
!docs/source
!docs/source/*
!docs/source/img
!docs/source/img/*
!.editorconfig
!environment.yaml
!envs
!envs/*
!.gitattributes
!.gitignore
!input
!input/*gz
!LICENSE.md
!README.md
!resources
!resources/*
!rules
!rules/*
!rules/antibiotic_resistance
!rules/antibiotic_resistance/*
!rules/mappers
!rules/mappers/*
!rules/preproc
!rules/preproc/*
!rules/taxonomic_profiling
!rules/taxonomic_profiling/*
!samples.tsv
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!.test
!.travis.yml
