*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE.md
!README.md
!rules
!rules/*
!rules/preproc
!rules/preproc/*
!rules/taxonomic_profiling
!rules/taxonomic_profiling/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!docs
!docs/Makefile
!docs/source
!docs/source/*
!docs/source/img
!docs/source/img/*
!input
!input/*gz
