*
!config.yaml
!cluster_configs
!cluster_configs/*
!cluster_configs/*/*
!docs
!docs/Makefile
!docs/source
!docs/source/*
!docs/source/img
!docs/source/img/*
!.editorconfig
!environment.yaml
!envs
!envs/*
!.gitattributes
!.gitignore
!LICENSE.md
!README.md
!resources
!resources/*
!rules
!rules/*
!rules/antibiotic_resistance
!rules/antibiotic_resistance/*
!rules/mappers
!rules/mappers/*
!rules/preproc
!rules/preproc/*
!rules/sketch_compare
!rules/sketch_compare/*
!rules/taxonomic_profiling
!rules/taxonomic_profiling/*
!samples.tsv
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!.test
!.travis.yml
!utils
!utils/*
