# vim: syntax=python expandtab
#
#     StaG Metagenomic Workflow Collaboration
#                 configuration file
#
# Configuration settings marked with [Required] are only required if the
# pipeline step for that setting is included. Set which steps to include
# under the "Pipeline steps included" heading. The default settings are to
# only run read preprocessing steps.


#########################
# Run configuration
#########################
inputdir: "input"
input_fn_pattern: "{sample}_{readpair}.fq.gz" 
outdir: "output_dir"
logdir: "output_dir/logs"
dbdir: "databases"           # Databases will be downloaded to this dir, if requested
report: "stag_report_"       # Filename prefix for report file ("-{datetime}.html" automatically appended)
email: ""                    # Email to send status message after completed/failed run.


#########################
# Pipeline steps included
#########################
qc_reads: True
host_removal: True
assess_depth: False
sketch_compare: False
mappers:
    bbmap: False
    bowtie2: False
taxonomic_profile:
    kaiju: False
    kraken2: False
    metaphlan2: False
functional_profile:
    humann2: False
antibiotic_resistance: False
assembly: False
binning: False
multiqc_report: True


#########################
# Preprocessing
#########################
fastp:
    extra: ""
remove_host:
    db_path: ""            # [Required] Path to folder containing the BBMap index for host sequences
    minid: 0.95
    maxindel: 3
    minhits: 2
    bandwidthratio: 0.16
    bandwidth: 12
    qtrim: "rl"
    trimq: 10
    quickmatch: "quickmatch"
    fast: "fast"
    untrim: "untrim"
    plot_unambigous: False
bbcountunique:
    interval: 5000           # Typically set to 10000, but test data requires <=5035
multiqc:
    extra: ""

#########################
# Mappers
#########################
bbmap:
    - db_name: ""              # [Required] Custom name for BBMap database
      db_path: ""              # [Required] Path to BBMap database (folder should contain a 'ref' folder)
      min_id: 0.76             # Minimum id for read alignment, BBMap default is 0.76
      extra: ""                # Extra BBMap command line parameters
      counts_table:
          annotations: ""      # Tab-separated annotation file with headers, first column is full FASTA header of reference sequences
          columns: ""          # Column names in header of annotation file to include summaries of
      featureCounts:
          annotations: ""      # [Required] Full path to GTF format annotations for database sequences. If not set, featureCounts summary will be skipped.
          feature_type: ""     # Feature type to produce counts for, default is "gene"
          attribute_type: ""   # Attribute type to summarize counts for, default is "gene_id" (any attribute in the GTF file's attribute field can be used)
          extra: ""            # Extra featureCount command line parameters
bowtie2:
    - db_prefix: ""            # [Required] Full path to Bowtie2 index (not including file extension)
      extra: ""                # Extra bowtie2 commandline parameters
      counts_table:
          annotations: ""      # Tab-separated annotation file with headers, first column is full FASTA header of reference sequences
          columns: ""          # Column names in header of annotation file to include summaries of
      featureCounts:
          annotations: ""      # [Required] Full path to GTF format annotations for database sequences. If not set, featureCounts summary will be skipped.
          feature_type: ""     # Feature type to produce counts for, default is "gene"
          attribute_type: ""   # Attribute type to summarize counts for, default is "gene_id" (any attribute in the GTF file's attribute field can be used)
          extra: ""            # Extra featureCount command line parameters


#########################
# Taxonomic profiling
#########################
kaiju:
    db: ""                   # [Required] Path to Kaiju DB file
    nodes: ""                # [Required] Path to Kaiju taxonomy nodes.dmp
    names: ""                # [Required] Path to Kaiju taxonomy names.dmp
    levels: ["species", "genus", "family"]    # Level(s) to summarize Kaiju report to, pick from: superkingdom, phylum, class, order, family, genus, species

kraken2:
    db: ""                   # [Required] Path to Kraken2 DB folder
    confidence: 0.1          # Kraken2 confidence score, float in [0,1]
    extra: ""                # Extra command line arguments for kraken2 (do not add/change output files)
    bracken:
        kmer_distrib: ""     # [Required for Bracken] Path to kmer_distrib file for Kraken2 DB specified above
        levels: "S G"        # Space-separated list of taxonomic levels to produce tables for (e.g. "F G S" for Family, Genus, Species)
        thresh: 10           # Threshold for minimum number of reads from Kraken
    filter_bracken:          # Arguments to filter_bracken_out.py to include/exclude certain taxa
        include: ""
        exclude: "--exclude 9605 9606"  # Taxid 9605 and 9606 are (G) Homo and (S) Homo sapiens

metaphlan2:
    bt2_db_dir: ""           # [Required] Path to MetaPhlAn2 database dir
    bt2_index: ""            # [Required] Name of MetaPhlAn2 database index
    extra: ""                # Extra command line arguments for metaphlan2.py
    heatmap:
        level: "Species"         # Taxononomic level: Kingdom, Phylum, Class, Order, Family, Genus, Species, or Strain
        topN: 50                 # Number of top taxa to include in heatmap.
        pseudocount: -1          # Negative value means to autocompute pseudocount
        colormap: "viridis"      # Standard matplotlib and seaborn colormaps
        method: "average"        # Linkage method, see scipy.cluster.hierarchy.linkage
        metric: "braycurtis"     # Distrance metric to use
        extra: ""                # Extra params, mostly to set loglevel to DEBUG in case of problems.


#########################
# Functional profiling
#########################
humann2:
    nucleotide_db: ""        # [Required] Path to ChocoPhlAn DB directory
    protein_db: ""           # [Required] Path to protein database (typically UniRef90)
    norm_method: "relab"     # Normalization method (HUMAnN2 default is "cpm")
    norm_mode: "community"   # Normalization mode, "community" or "levelwise"


#########################
# Antibiotic Resistance
#########################
groot:
    db: "arg-annot"          # Used when downloading and indexing DB with "create_groot_index" rule
    index: ""                # [Required] Path to groot index
    minlength: 110           # Minlength for groot index
    maxlength: 125           # Maxlength for groot index
    covcutoff: 0.97          # Coverage cutoff for groot report
    lowcov: False            # Report ARGs with no 5' or 3' coverage. Overrides covcutoff.


#########################
# Assembly
#########################
metawrap:
    assembler: "megahit"      # Use "megahit" or "spades"
    universal: "--universal"  # Use universal marker genes
    minimum_completion: 70
    maximum_contamination: 10

