# vim: syntax=python expandtab
#
#     StaG Metagenomic Workflow Collaboration
#                 configuration file
#
# Configuration settings marked with [Required] are only required if the
# pipeline step for that setting is included. Set which steps to include
# under the "Pipeline steps included" heading. The default settings are to
# only run read preprocessing steps.


#########################
# Run configuration
#########################
inputdir: "input"
input_fn_pattern: "{sample}_R{readpair}.fastq.gz" 
outdir: "output_dir"
logdir: "output_dir/logs"
dbdir: "databases"           # Databases will be downloaded to this dir, if requested


#########################
# Pipeline steps included
#########################
qc_reads: True
remove_human: True
assess_depth: True
sketch_compare: False
mappers:
    bbmap: False
    bowtie2: False
taxonomic_profile:
    centrifuge: False
    kaiju: False
    kraken2: False
    metaphlan2: False
functional_profile:
    humann2: False
antibiotic_resistance: False


#########################
# Preprocessing
#########################
bbduk:
    minlen: 30
    qtrim: "rl"
    trimq: 20
    ktrim: "r"
    k: 30
    mink: 11
    hdist: 1
    trimbyoverlap: "trimbyoverlap"
    trimpairsevenly: "trimpairsevenly"
remove_human:
    hg19_path: ""            # [Required] Path to folder containing the BBMap index for hg19
    minid: 0.95
    maxindel: 3
    minhits: 2
    bandwidthratio: 0.16
    bandwidth: 12
    qtrim: "rl"
    trimq: 10
    quickmatch: "quickmatch"
    fast: "fast"
    untrim: "untrim"
bbcountunique:
    interval: 5000           # Typically set to 10000, but test data requires <=5035

#########################
# Mappers
#########################
bbmap:
    - db_name: ""              # [Required] Custom name for BBMap database
      db_path: ""              # [Required] Path to BBMap database (folder should contain a 'ref' folder)
      min_id: 0.76             # Minimum id for read alignment, BBMap default is 0.76
      extra: ""                # Extra BBMap command line parameters
      counts_table:
          annotations: ""
      featureCounts:
          annotations: ""      # [Required] Full path to GTF format annotations for database sequences. If not set, featureCounts summary will be skipped.
          feature_type: ""     # Feature type to produce counts for, default is "gene"
          attribute_type: ""   # Attribute type to summarize counts for, default is "gene_id" (any attribute in the GTF file's attribute field can be used)
          extra: ""            # Extra featureCount command line parameters
bowtie2:
    - db_prefix: ""            # [Required] Full path to Bowtie2 index (not including file extension)
      extra: ""                # Extra bowtie2 commandline parameters
      counts_table:
          annotations: ""
      featureCounts:
          annotations: ""      # [Required] Full path to GTF format annotations for database sequences. If not set, featureCounts summary will be skipped.
          feature_type: ""     # Feature type to produce counts for, default is "gene"
          attribute_type: ""   # Attribute type to summarize counts for, default is "gene_id" (any attribute in the GTF file's attribute field can be used)
          extra: ""            # Extra featureCount command line parameters


#########################
# Taxonomic profiling
#########################
centrifuge:
    db_prefix: ""            # [Required] Path to Centrifuge DB index (not including file extension)

kaiju:
    db: ""                   # [Required] Path to Kaiju DB file
    nodes: ""                # [Required] Path to Kaiju taxonomy nodes.dmp
    names: ""                # [Required] Path to Kaiju taxonomy names.dmp

kraken2:
    db: ""                   # [Required] Path to Kraken2 DB folder
    confidence: 0.0          # Kraken2 confidence score, float in [0,1]
    extra: ""                # Extra command line arguments for kraken2 (do not add/change output files)

metaphlan2:
    bt2_db_dir: ""           # [Required] Path to MetaPhlAn2 database dir
    bt2_index: "v20_m200"    # [Required] Name of MetaPhlAn2 database index (without "mpl_" prefix)
    extra: ""                # Extra command line arguments for metaphlan2.py
    tax_lev: "s"             # Heatmap: Taxononomic level, choose from a, k, p, c, f, g, s
    minv: "0"                # Heatmap: Minimum value to display.
    s: "log"                 # Heatmap: Scale, default is "norm"
    top: "50"                # Heatmap: Top most abundant taxa to display
    m: "average"             # Heatmap: Hierarchical clustering method.
    d: "braycurtis"          # Heatmap: Distance function for samples.
    f: "correlation"         # Heatmap: Distance function for microbes.
    c: "jet"                 # Heatmap: Colormap, default is "jet"


#########################
# Functional profiling
#########################
humann2:
    nucleotide_db: ""        # [Required] Path to ChocoPhlAn DB directory
    protein_db: ""           # [Required] Path to protein database (typically UniRef90)
    norm_method: "relab"     # Normalization method (HUMAnN2 default is "cpm")
    norm_mode: "community"   # Normalization mode, "community" or "levelwise"


#########################
# Antibiotic Resistance
#########################
groot:
    db: "arg-annot"          # Used when downloading and indexing DB with "create_groot_index" rule
    index: ""                # [Required] Path to groot index
